<!--- Footer Part --->
<footer>
    <div class="ending">
        <i style="color:#f4f4f4; background-color:#8a658f;" class="fa fa-copyright"></i> EduCafé 2021
    </div>
</footer>
</body>
<script src="/js/index.js" charset="utf-8"></script>

</html>