<%- include("partials/headerMain.ejs"); -%>
    <% attendancelist.forEach(function( eachPerson){ %>
        <li>Name:
            <%= eachPerson.name %> <br> Roll:
                <%= eachPerson.roll %>
        </li>
        <% }) %>
            <%- include("partials/footerMain.ejs"); -%>