<%- include('partials/header') %>


    <div class="jumbotron centered">
        <div class="container">
            <i class="fas fa-chalkboard-teacher fa-6x" style="color: #8a658f;"></i>
            <h1 class="display-3" style="color: #8a658f;">EduCafé</h1>
            <hr>
            <a class=" btn btn-light btn-lg " href="/student " role="button ">Student</a>
            <a class="btn btn-dark btn-lg " href="/teacher " role="button ">Teacher</a>

        </div>
    </div>
    <%- include('partials/footer') %>