<%- include('partials/header') %>
<div class="container mt-5">
  <h1>Register</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/student/register" method="POST">
            <div class="form-group">
              <label for="string">Name</label>
              <input type="name" class="form-control" name="name">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
              <label for="contact">Contact</label>
              <input type="contact" placeholder="888 888 8888" class="form-control" name="contact">
            </div>
            <div class="form-group">
              <label for="year">Year</label>
              <input type="year" class="form-control" name="year">
            </div>
            <div class="form-group">
              <label for="roll">Roll</label>
              <input type="roll" class="form-control" name="roll">
            </div>
            <div class="form-group">
              <label for="subjects">Subjects</label>
              <input type="subjects" class="form-control" name="subjects">
            </div>            
            <button type="submit" class="btn btn-dark">Register</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/header') %>
