<%- include('partials/header') %>


    <div class="jumbotron centered">
        <div class="container">
            <i class="fas fa-chalkboard-teacher fa-6x" style="color: #8a658f;"></i>
            <h1 class="display-3" style="color: #8a658f;">EduCafé</h1>
            <p class="lead" style="color: #888;">“Learn continually. There’s always “one more thing” to learn.” --Steve Jobs</p>
            <hr>
            <div>
                <% if(designation==="student"){ %>
                    <a class="btn btn-light btn-lg" href="/student/register" role="button">Register</a>
                    <a class="btn btn-dark btn-lg" href="/student/login" role="button">Login</a>
                    <%}%>
            </div>
            <div>
                <% if(designation==="teacher"){ %>
                    <a class="btn btn-light btn-lg" href="/teacher/register" role="button">Register</a>
                    <a class="btn btn-dark btn-lg" href="/teacher/login" role="button">Login</a>
                    <%}%>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>